/*reset*/

html{
    font-size: 62.5%;
}
body{
    font: 1.6rem 'Open sans', sans-serif; /*Open sans et sans internet par default sans-serif*/
    margin: 0;
}

h1, h2, h3, h4, p, figure, ul{
    margin: 0;
    padding: 0;
    font-weight: 400;
    list-style: none;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:  #222;
    outline: none;
}

input{
    border: solid 1px #ccc;
    outline: none;
}